*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {
  --color-creme: #faf6f0;
  --color-blush: #e8c4b8;
} */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}
